{% extends "layout.html" %} 
{% block title %}admin - users{% endblock %} 

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">service </th>
      <th scope="col">total requests</th>
      <th scope="col">total profit</th>
    </tr>
  </thead>
  <tbody>
    {% for stat in service_stats %}
    <tr>
      <td>{{ stat.service_name }}</td>
      <td>{{ stat.total_requests }}</td>
      <td>{{ stat.total_profit }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}